/.env
/.env.*
.deploy.lock
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/down
/bootstrap/cache/*.php
/database/*.sqlite
/database/*.sqlite-*
